{% extends "main_accounts.html" %}

{% load static %}

{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container-box w-full h-full">
  <div
    class="flex w-full h-full gap-[6vh] justify-center items-center auth-background">
    <div class="bg-black rounded-[5vh] w-[70vw] md:w-[60vw] lg:w-[35vw] h-[90vh] text-white">
   
      <form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        
        {% if form.errors %}
          <div class="error text-white">
            {% for field in form %}
              {% for error in field.errors %}
                <span>{{ error }}</span><br>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="md:mt-[6vh] m-[5vw] md:m-[2vw] flex flex-col gap-[2vh]">
          <div class="name grid grid-cols-2 gap-[2vh]">
          <input
            type="{{ form.first_name.field.widget.input_type }}" 
            id="first-name-input"
            name="{{ form.first_name.name }}" 
            maxlength="{{ form.first_name.field.max_length }}" 
            required id="{{ form.first_name.id_for_label }}" 
            class="h-[7vh] rounded-[2vh] py-[4.5vh] p-[2vw] text-xl placeholder-neutral-300 text-neutral-300 focus:outline-indigo-500 bg-neutral-800"
            placeholder="First Name"
          />
          <input
            type="{{ form.last_name.field.widget.input_type }}" 
            name="{{ form.last_name.name }}" 
            maxlength="{{ form.last_name.field.max_length }}" 
            required id="{{ form.last_name.id_for_label }}" 
            class="h-[7vh] rounded-[2vh] py-[4.5vh] p-[2vw] text-xl placeholder-neutral-300 text-neutral-300 focus:outline-indigo-500 bg-neutral-800"
            placeholder="Last Name"
          /></div>
          <input
            type="{{ form.email.field.widget.input_type }}" 
            name="{{ form.email.name }}" 
            maxlength="{{ form.email.field.max_length }}" 
            required id="{{ form.email.id_for_label }}" 
            class="h-[7vh] rounded-[2vh] py-[4.5vh] p-[2vw] text-xl placeholder-neutral-300 text-neutral-300 focus:outline-indigo-500 bg-neutral-800"
            placeholder="Email"
          />
          <input
            type="{{ form.password1.field.widget.input_type }}" 
            name="{{ form.password1.name }}" 
            required id="{{ form.password1.id_for_label }}"
            class="h-[7vh] rounded-[2vh] py-[4.5vh] p-[2vw] text-xl placeholder-neutral-300 text-neutral-300 focus:outline-indigo-500 bg-neutral-800"
            placeholder="Password"
          />
          <input
            type="{{ form.password2.field.widget.input_type }}"
            name="{{ form.password2.name }}"
            required id="{{ form.password2.id_for_label }}"
            class="h-[7vh] rounded-[2vh] py-[4.5vh] p-[2vw] text-xl placeholder-neutral-300 text-neutral-300 focus:outline-indigo-500 bg-neutral-800"
            placeholder="Confirm Password"
          />
          
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="m-[2vh]">
        <button 
          type="submit" class="h-[7vh] w-full rounded-[2vh] lg:rounded-[3vh] py-[4vh] md:py-[5vh] p-[2vw] flex justify-center items-center text-2xl text-black font-semibold bg-indigo-400">             
          {% trans "Sign up" %}
        </button></div>
      </form>
      <div class="row-span-2 grid grid-rows-3 m-[2vh]">
        <div 
        class="socialaccount_ballot google bg-black rounded-[2vh] lg:rounded-[3vh] flex items-center bg-white p-2"
        >
          <div class="bg-white rounded-[2vh] h-full aspect-square flex items-center justify-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="" class="h-[5vh] lg:h-[7vh]" />
          </div>
          <div class="text-xl flex-1 lg:text-xl flex font-semibold items-center text-black col-span-5 lg:col-span-6 text-left font-medium ml-4">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          </div>
        </div>    <div class="place-self-end self-end text-base font-semibold text-white"><a href="{{ login_url }}">Already a member? Login</a></div>
      </div>

    </div>
  </div>
</div>

<script>
  const input = document.querySelector('#first-name-input');
  input.focus();
  input.select();
</script>  


{% endblock %}