{% extends 'main.html' %}

{% load static %}

{% load compress %}

{% block main %}

<style>
  ::-webkit-scrollbar {
    width: 0 !important;
  }
</style>

<div class="flex flex-col md:grid md:grid-cols-3 w-full h-full gap-[2vh]">
  <div
    class="column-box flex-1 md:h-full w-full flex items-center text-3xl md:text-5xl lg:text-6xl lg:text-6xl font-semibold text-white rounded-[3vh] md:rounded-[5vh]">
    
    <a href="{% url 'feed' %}" class="place-self-start max-w-[6vw] text-white z-10 absolute m-[1.5vw]">
      
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="white"
          class="w-[5vh] md:w-[7vh] m-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
    </a>

    <div
      class="column-text flex leading-tight lg:text-left px-[12%] items-center">
      {{decision.title}}
    </div>
  </div>
  <div class="col-span-2 grid grid-rows-5">
    <div class="text-white row-span-4 grid grid-cols-4">
      <div
        class="max-h-[50vh] md:max-h-[75vh] overflow-y-scroll overflow-x-hidden col-span-4 lg:col-span-3 flex flex-col gap-[8vh]">
        <div class="px-[4vw] md:text-regular lg:text-xl pt-[4vh] md:pt-[8vh]" id="overview">
          <h1 class="text-4xl md:text-7xl font-semibold md:font-regular">Overview</h1>
          <p class="pt-[1.75vh] md:pt-[3.5vh] px-[3vw]">
            {{decision.overview}}
          </p>
        </div>
        <div class="px-[4vw] md:text-regular lg:text-xl" id="choices">
          <h1 class="text-4xl md:text-7xl font-semibold md:font-regular">Choices</h1>
          <div class="pt-[3.5vh] px-[3vw] flex flex-col gap-[1vh] lg:gap-[2vh]">
            <p class="md:pb-[2vh]">
              {% if options.count == 1 %}
                The user has one choice to choose from:
              {% else %}
                The user has {{ count_in_words }} choices to choose from:
              {% endif %}
            </p>
            {% for option in options %}
              <div
                class="option rounded-[1.25vh] md:rounded-[2vh] lg:rounded-[3vh] md:h-[8vh] lg:h-[10vh] flex items-center px-[5vw] lg:px-[3vw] p-[2vw] font-semibold md:text-2xl lg:text-3xl">
                {{option.content}}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="px-[4vw] md:text-regular lg:text-xl" id="situation">
          <h1 class="text-4xl md:text-7xl font-semibold md:font-regular p-[1vw]">Situation</h1>
          <p class="pt-[1.75vh] md:pt-[3.5vh] px-[3vw]">
            {{decision.situation}}
          </p>
        </div>
        <div
          class="px-[3vw] pt-[1vw] text-regular text-regular md:text-lg lg:text-xl assists"
          id="assists">
          <h1 class="text-4xl md:text-7xl font-semibold md:font-regular px-[2vw] p-[1vw]">Assists</h1>
          <div
            class="pl-[2vw] py-[3.5vh] h-[43vh] md:h-[60vh] overflow-y-scroll flex flex-col gap-[1.5vh] md:gap-[3vh]">
            {% for assist in assists %}
            <div class="flex">
              <div
                class="profile-pic rounded-full h-[5vh] md:h-[6vh] aspect-square"></div>
              <div
                class="assist pt-[1.5vw] md:pt-[0.75vw] p-[3vw] md:p-[1.4vw] ml-[1vw] rounded-tl-none md:rounded-tl-none rounded-[3vh] md:rounded-[4vh] w-full flex flex-col gap-[0.55vh]">
                <div
                  class="profile-name font-bold text-[1.25rem] username">
                  {% if assist.is_anonymous %}
                    {{ assist.assisted_by.pseudonymous_name }}
                  {% else %}
                    {{ assist.assisted_by.username|title }}
                  {% endif %}
                </div>
                <div class="">
                  {{ assist.message|title|truncatechars:85 }}
                </div>
                <div class="buttons flex gap-[1vw] place-self-end">
                  <form method="POST" action="{% url 'upvote_assist' assist.id %}">
                    {% csrf_token %}
                    <button type="submit">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2.25"
                        stroke="currentColor"
                        class="h-[2.85vh]">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                      </svg>
                    </button>
                  </form>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2.25"
                    stroke="currentColor"
                    class="h-[3vh]">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                  </svg>
                
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <nav
        class="hidden lg:flex items-center justify-center text-xl text-right">
        <ul class="space-y-4">
          <li class="group">
            <a href="#overview" class="">Overview</a>
          </li>
          <li class="group">
            <a href="#choices" class="">Choices</a>
          </li>
          <li class="group">
            <a href="#situation" class="">Situation</a>
          </li>
          <li class="group">
            <a href="#assists" class="">Assists</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="{% url 'assist_form' pk=decision.id %}" class="">
      <div
        class="assist-button rounded-[3vh] md:rounded-[4vh] flex justify-center items-center font-bold text-2xl md:text-3xl lg:text-4xl h-full">
        Contribute
      </div>
    </a>
  </div>
</div>

{% endblock main %}